:root {
  --text: rgb(244, 245, 244);
  --background: rgb(23, 24, 22);
  --primary: rgb(153, 157, 149);
  --secondary: rgb(40, 42, 39);
  --accent: rgb(142, 147, 138);
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
}
.view-posts-btn {
  background-color: var(--text);
  color: var(--background);
  border: none;
  border-radius: 5px;
}
.singlenews {
  border-radius: 20px;
}
.posts {
  background-color: var(--secondary);
  border-radius: 20px;
}
.bodyofthecard {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--secondary);
}
.viewnewsbtn {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text);
  border-radius: 5px;
}
.viewnewsbtn:hover {
  color: var(--secondary);
}
.navbarstyle {
  background-color: var(--secondary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--text);
}
.navbarbutton {
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--background);
  border: none;
}
.navbarbutton:hover {
  background-color: var(--primary);
  color: var(--background);
}
.navbar-toggler-icon {
  color: var(--background);
}
.navbar-brand,
.nav-link {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--text);
  text-decoration: none;
}
.navbar-brand:hover {
  color: var(--primary);
  text-decoration: none;
}
.firstdivimg {
  width: 100%; /* Set the width of your div */
  height: 300px;
  background-image: url("./components/intropic1updated.png");
  background-size: cover;
  background-position: center;
}
.secdivimg {
  width: 100%; /* Set the width of your div */
  height: 300px;
  background-image: url("./components/intropic2.png");
  background-size: cover;
  background-position: center;
}
.thirdivimg {
  width: 100%; /* Set the width of your div */
  height: 300px;
  background-image: url("https://th.bing.com/th/id/R.7f2d8d9986698d0ac2dfa28cda9d32ef?rik=LmrzpSao82zLBw&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
}

.muted-text {
  color: var(--primary);
}
.icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navlink {
  text-decoration: none;
}
.thecard {
  border-radius: 20px;
}
.navbarlogo {
  width: 40px;
  margin: 2px;
}
.imagecontainer {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%; /* Set the container width as needed */
  padding-top: 56.25%; /* 9/16 aspect ratio (9 divided by 16) */
  overflow: hidden;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("your-image.jpg");
  background-size: cover; /* This ensures the image covers the container */
  background-position: center; /* Center the image within the container */
}

.intro-img {
  width: 100%; /* Set the width of your div */
  height: 200px;
  background-image: url("https://th.bing.com/th/id/R.7f2d8d9986698d0ac2dfa28cda9d32ef?rik=LmrzpSao82zLBw&pid=ImgRaw&r=0");
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.about-img {
  width: 100%; /* Set the width of your div */
  height: 400px;
  background-image: url("https://th.bing.com/th/id/R.8bd09f4d7b1239e44797baaa9f01f68b?rik=pkgBm7nHj7EIRA&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
}
.intro-text {
  display: flex;
  margin: 0 auto;
}
.the-intro-con {
  background-color: var(--secondary);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .firstdivimg {
    background-size: contain;
    background-position: center;
  }
}
